<br>
<div class="container bg-dark card">
    <h2><span class="badge bg-light  text-dark mat-card-title"><br> My Profile</span></h2>
    <div class="col-lg-4 ">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Nombre: {{profileData.name}}</mat-card-title>
                        <mat-card-subtitle>Email: {{profileData.email}}</mat-card-subtitle>
                        
                    </mat-card-header>
                </mat-card>
            </div>
</div>