.logo {
    position: absolute;
    left: 4%;
    height: 60px;
    top: 2%;
  }
  .btn-default {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    background-color: #02989da2;
    border: 1px solid #02989da2;
    border-radius: 4px;
    margin: 0 8px;
    font-size: 14px;
    transition: all 0.5s;
    position: absolute;
    right: 2%;
  }
  .btn-default:hover,
  .btn-default:focus,
  .btn-default.focus,
  .btn-default:active,
  .btn-default.active {
    background-color: #02989da2;
    border: 1px solid #02989da2;
    color: #eeeeee;
  }