/* To-Do */

.container2 {
  position: relative;
}

.container2 .todo {
  position: relative;
  width: 250px;
  height: 350px;
  background: #4d4a4a;
  border-radius: 20px;
  overflow: hidden;
}

.container2 .todo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background:  #C70039 ; */
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container2 .todo:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container2 .todo:after {
  content: "ToDo";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 10em;
  font-weight: 800;
  font-style: italic;
  color: rgba(13, 248, 248, 0.05);
}

.container2 .todo .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container2 .todo:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.container2 .todo .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container2 .todo .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container2 .todo:hover .contentBx {
  height: 210px;
}

.container2 .todo .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 3em;
  color: rgb(255, 255, 255);
  margin: 0;
}

.container2 .todo .contentBx .size,
.container2 .todo .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container2 .todo:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container2 .todo:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container2 .todo .contentBx .size h3,
.container2 .todo .contentBx .color h3 {
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container2 .todo .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container2 .todo .contentBx .size span:hover {
  background:  #C70039 ;
}

.container2 .todo .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container2 .todo .contentBx .color span:nth-child(2) {
  background:  #C70039 ;
}

.container2 .todo .contentBx .color span:nth-child(3) {
  background: #03a9f4;
}

.container2 .todo .contentBx .color span:nth-child(4) {
  background: #e91e63;
}

.container2 .todo .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container2 .todo:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}




/* In-Progress */

.container2 .inProgress {
    position: relative;
    width: 250px;
    height: 350px;
    background: #4d4a4a;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .container2 .inProgress:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background:   #FF5733  ; */
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container2 .inProgress:hover:before {
    clip-path: circle(300px at 80% -20%);
  }
  
  .container2 .inProgress:after {
    content: "Progress";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 10em;
    font-weight: 800;
    font-style: italic;
    color: rgba(13, 248, 248, 0.05);
  }
  
  .container2 .inProgress .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
  }
  
  .container2 .inProgress:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
  }
  
  .container2 .inProgress .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
  }
  
  .container2 .inProgress .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
  }
  
  .container2 .inProgress:hover .contentBx {
    height: 210px;
  }
  
  .container2 .inProgress .contentBx h2 {
    position: relative;
    font-weight: 600;
    font-size: 2.5em;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
  }
  
  .container2 .inProgress .contentBx .size,
  .container2 .inProgress .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .container2 .inProgress:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
  
  .container2 .inProgress:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
  }
  
  .container2 .inProgress .contentBx .size h3,
  .container2 .inProgress .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container2 .inProgress .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container2 .inProgress .contentBx .size span:hover {
    background:   #FF5733  ;
  }
  
  .container2 .inProgress .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .container2 .inProgress .contentBx .color span:nth-child(2) {
    background:   #FF5733  ;
  }
  
  .container2 .inProgress .contentBx .color span:nth-child(3) {
    background: #03a9f4;
  }
  
  .container2 .inProgress .contentBx .color span:nth-child(4) {
    background: #e91e63;
  }
  
  .container2 .inProgress .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
  }
  
  .container2 .inProgress:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
  }

  /* Done */
  .container2 .done {
    position: relative;
    width: 250px;
    height: 350px;
    background: #4d4a4a;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .container2 .done:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #9bdc28; */
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container2 .done:hover:before {
    clip-path: circle(300px at 80% -20%);
  }
  
  .container2 .done:after {
      content: "Done";
      position: absolute;
      top: 30%;
      left: -20%;
      font-size: 10em;
      font-weight: 800;
      font-style: italic;
      color: rgba(13, 248, 248, 0.05);
    }
  
  .container2 .done .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
  }
  
  .container2 .done:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
  }
  
  .container2 .done .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
  }
  
  .container2 .done .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
  }
  
  .container2 .done:hover .contentBx {
    height: 210px;
  }
  
  .container2 .done .contentBx h2 {
    position: relative;
    font-weight: 600;
    font-size: 3em;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
  }
  
  .container2 .done .contentBx .size,
  .container2 .done .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .container2 .done:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
  
  .container2 .done:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
  }
  
  .container2 .done .contentBx .size h3,
  .container2 .done .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container2 .done .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container2 .done .contentBx .size span:hover {
    background: #9bdc28;
  }
  
  .container2 .done .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .container2 .done .contentBx .color span:nth-child(2) {
    background: #9bdc28;
  }
  
  .container2 .done .contentBx .color span:nth-child(3) {
    background: #03a9f4;
  }
  
  .container2 .done .contentBx .color span:nth-child(4) {
    background: #e91e63;
  }
  
  .container2 .done .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
  }
  
  .container2 .done:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
  }
  

  /* total */
  .container2 .total {
    position: relative;
    width: 250px;
    height: 350px;
    background: #505050;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .container2 .total:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #9bdc28; */
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container2 .total:hover:before {
    clip-path: circle(300px at 80% -20%);
  }
  
  .container2 .total:after {
    content: "Task";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 10em;
    font-weight: 800;
    font-style: italic;
    color: rgba(13, 248, 248, 0.05);
  }
  
  .container2 .total .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
  }
  
  .container2 .total:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
  }
  
  .container2 .total .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
  }
  
  .container2 .total .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
  }
  
  .container2 .total:hover .contentBx {
    height: 210px;
  }
  
  .container2 .total .contentBx h2 {
    position: relative;
    font-weight: 600;
    font-size: 3em;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
  }
  
  .container2 .total .contentBx .size,
  .container2 .total .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .container2 .total:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
  
  .container2 .total:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
  }
  
  .container2 .total .contentBx .size h3,
  .container2 .total .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container2 .total .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container2 .total .contentBx .size span:hover {
    background: #9bdc28;
  }
  
  .container2 .total .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .container2 .total .contentBx .color span:nth-child(2) {
    background: #9bdc28;
  }
  
  .container2 .total .contentBx .color span:nth-child(3) {
    background: #03a9f4;
  }
  
  .container2 .total .contentBx .color span:nth-child(4) {
    background: #e91e63;
  }
  
  .container2 .total .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
  }
  
  .container2 .total:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
  }