<app-headercuatro></app-headercuatro>
<div class="container">
  <br />
  <br />

  <div class="row">
    <div class="col-lg-3 container2">
      <div class="todo">
        <div class="imgBx">
        </div>
        <div class="contentBx">
          <h2>To-Do</h2><br>
          <div class="size"> 
            <h3>Tareas sin finalizar :</h3>
            <span>{{this.todo1}}</span>
          </div>
        </div>
      </div>
    </div>
    <div div class="col-lg-3 container2">
      <div class="inProgress">
        <div class="imgBx">
        </div>
        <div class="contentBx">
          <h2>In-Progress</h2><br>
          <div class="size">
            <h3>Tareas en progreso :</h3>
            <span>{{this.inprogress1}}</span>
          </div>
        </div>
      </div>
    </div>
    <div div class="col-lg-3 container2">
      <div class="done">
        <div class="imgBx">
        </div>
        <div class="contentBx">
          <h2>Done</h2><br>
          <div class="size">
            <h3>Tareas finalizadas :</h3>
            <span >{{this.done1}}</span>
          </div>
        </div>
      </div>
    </div>

    <div div class="col-lg-3 container2">
      <div class="total">
        <div class="imgBx">
        </div>
        <div class="contentBx"> 
          <h2>Task</h2><br>
          <div class="size">
            <h3>Numero total de Tareas :</h3>
            <span>{{this.list1}}</span>
          </div>
        </div>
      </div>
      <br><br><br>
    </div>

    <div class="chart-wrapper row">
      <div class="col-lg-6">
      <canvas
        baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
      >
      </canvas></div>
      <div class="col-lg-6">
        <canvas
          baseChart
          [data]="barChartData"
          [labels]="barChartLabels"
          [chartType]="barChartType"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
