<div class="container bg-light rounded-1 text-center">
    <h2><span class="badge bg-dark"><strong>PANEL</strong></span></h2>
    <div *ngIf="panelData.length">
        <div class="row text-center">
            <div class="example-2 card  " *ngFor="let panel of panelData">
                <div class="wrapper"
                    style="background: url(../../../assets/img/{{panel.panelId.theme}}) center/cover no-repeat;">
                    <div class="header">
                        <div class="date">
                            <span class="year">{{transform(panel.panelId.date)}}</span>
                        </div>
                    </div>
                    <div class="data">
                        <div class="content">
                            <span class="author">{{panel.panelId.name}}</span>
                            <h2 class="title"><a href="#">{{panel.panelId.description}}</a></h2>
                            <p class="text"></p>
                            <button class="button" mat-button
                                [routerLink]="['/listTask/',panel.panelId._id]">Go</button>
                        </div>
                    </div>
                </div>
            </div>
            


          
        </div>
    </div>
    <br><br><br>
</div>
