<div class="container bg-light rounded-1 text-center">
    <h2><span class="badge bg-dark"><strong>PANEL</strong></span></h2>
    <div *ngIf="panelData.length">
        <div class="row text-center">
            <div class="example-2 card  " *ngFor="let panel of panelData">
                <div class="wrapper"
                    style="background: url(../../../assets/img/{{panel.panelId.theme}}) center/cover no-repeat;">
                    <div class="header">
                        <div class="date">
                            <span class="year">{{transform(panel.panelId.date)}}</span>
                        </div>
                        <ul class="menu-content">
                            <!-- <li>
                                <span class="year">{{transform(panel.panelId.date)}}</span>
                            </li> -->

                        </ul>
                    </div>
                    <div class="data">
                        <div class="content">
                            <span class="author">{{panel.panelId.name}}</span>
                            <h2 class="title"><a href="#">{{panel.panelId.description}}</a></h2>
                            <p class="text"></p>
                            <button class="button" mat-button
                                [routerLink]="['/listTask/',panel.panelId._id]">Go</button>
                        </div>
                    </div>
                </div>
            </div>
            


            <!-- <div class="col-lg-4 " *ngFor="let panel of panelData">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{panel.panelId.name}}</mat-card-title>
                        <mat-card-subtitle>{{panel.panelId.description}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/img/{{panel.panelId.theme}}" alt="{{panel.panelId.theme}}">
                    <mat-card-actions>
                        <button mat-button [routerLink]="['/listTask/',panel.panelId._id]">Ir</button>
                    </mat-card-actions>
                </mat-card>
            </div> -->
        </div>
    </div>
    <br><br><br>
</div>
<div class="row">
    <!-- <div class="example-1 card">
        <div class="wrapper">
            <div class="date">
                <span class="day">12</span>
                <span class="month">Aug</span>
                <span class="year">2016</span>
            </div>
            <div class="data">
                <div class="content">
                    <span class="author">Jane Doe</span>
                    <h1 class="title"><a href="#">Boxing icon has the will for a couple more fights</a></h1>
                    <p class="text">The highly anticipated world championship fight will take place at 10am
                        and is the second major boxing blockbuster in the nation after 43 years.</p>
                    <label for="show-menu" class="menu-button"><span></span></label>
                </div>
                <input type="checkbox" id="show-menu" />
                <ul class="menu-content">
                    <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                    </li>
                    <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                    <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                </ul>
            </div>
        </div>
    </div> -->

</div>