<app-headerdos></app-headerdos>
<body class="backgroundIndex">
    <header class="text-end" name="home">
        <div class="intro-text container">
            <h1 data-aos="fade-down">Organiza tus tareas <br> <span class="color">ToolTask</span></h1>
            <br><br>
            <input data-aos="fade-up" placeholder="Ingresa tu correo" class="btn btn-default btn-lg" [(ngModel)]="email">
            <a [routerLink]="['/signUp', email]" routerLinkActive="router-link-active"   data-aos="fade-up" class="btn btn-default btn-lg">Registrate</a>
        </div>
    </header>


    <br>
    <br>
    <div class="container font" data-aos="fade-down">
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4" style="padding-left: 5%;">
                <img src="../../../assets/img/tableroTool.png" class="img-fluid rounded " height="200" width="300" alt="">
            </div>
            <div class="col-lg-8">
                <h4 class="text-center display-5"><strong>Organiza tus proyectos</strong></h4>
                <br>
                <p>ToolTask es un software de administración de proyectos que te ayuda a coordinar tu espacio de trabajo de manera visual a través de un tablero estilo kanban
                </p>

            </div>
        </div>
        <br>
        <br>
        <hr>
        <br>
        <br>

        <div class="row" data-aos="fade-down">
            <h4 class="center display-5"><strong>Por qué usar ToolTask</strong></h4>

            <div class="col-lg-4" style="padding-left: 5%;">

                <label class="inline"><img style="width: 14%" src="../../../assets/img/aprender.gif">
                    <h6><strong>Conoce</strong></h6>
                </label>

                <p>Conoce de diferentes herramientas que te ayudaran para tu espacio de trabajo </p>
                <br>
                <br>
                <label class="inline"><img style="width: 14%" src="../../../assets/img/feliz.gif">
                    <h6><strong>Diviértete</strong></h6>
                </label>
                <!--<img src="./assets/img/diversion.png" alt=""><h6><strong>Diversión</strong></h6>-->
                <p> Diviértete seleccionando el tema que mas te guste para tu proyecto y moviendo las tareas de estados cuando ya logres avances en ellas</p>

            </div>
            <div class="col-lg-4">
                <img src="../../../assets/img/computador.png" class="img-fluid rounded " height="200" width="300" alt="">
            </div>
            <div class="col-lg-4">
                <label class="inline"><img style="width: 12%" src="../../../assets/img/question.gif">
                    <h6><strong>Mide tu progreso</strong></h6>
                </label>
                <p>Lleva el control de todos los proyectos y tareas personales o grupales que creas en esta plataforma.
                </p>
                <br>


                <label class="inline"><img style="width: 11%" src="../../../assets/img/reloj.gif">  
                    <h6><strong>  Ahorro de tiempo</strong></h6>
                </label>
                <p>Aqui encontraras una plataforma muy completa para todo el desarrollo de seguimiento de tu proyecto, asignacion de tareas y tambien con un facil uso.</p>
            </div>


        </div>

        <br>
        <br>
        <hr>
        <br><br>

        <div class="row" data-aos="fade-down">
            <div class="col-lg-8">
                <h4 class="display-5 text-center"><strong>ToolTask es una forma de trabajar juntos</strong></h4>
                <br>
                <p>Crea tableros y personalízalos y expándelos conforme el trabajo en equipo vaya a más. Gestiona proyectos, organiza tareas y fomenta un trabajo conjunto y colaborativo desde un mismo lugar.</p>

            </div>
            <div class="col-lg-4" style="padding-left: 5%;">
                <img src="../../../assets/img/trabajo.png" class="img-fluid rounded " height="200" width="300" alt="">
            </div>


        </div>

    </div>

    <br>
    <br>
</body>