
<ul class="nav justify-content-center" style="
    padding-bottom: 2%;
    padding-top: 2%;">
        <a class="navbar-brand" href="./index.html">
            <img src="../../../assets/img/logo.png" class="logo" alt="logo" width="150">
        </a>

        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        
        <button class="btn btn-default btn-lg" routerLink="/login">Inicia Sesión</button>

    </ul>
<div class="banner" data-aos="fade-down">

</div>
<br>


<div class="container" data-aos="fade-down">
    <br>
    <br>
    <!--<div class="">
    <h2 class=""><span class="badge containeer2 black " style="
        font-size: larger;">SOBRE NOSOTROS</span></h2>
    </div>
    
    <br>-->


    <div class="row" style="justify-content:center;">
        <div class="card  border-success mb-3" data-aos="fade-down">
            <div class="card-header fondo" >
                <br>
                <img class="borde-img" src="./assets/img/DanielaApraez.JPG" />
                <br>
                <br>
                <span class="tag tag-pink nombres">Product Owner</span>
            </div>
            <div class="card-body items" >
               
                <h4>
                     Daniela Apraez 
                </h4>
                <p>Ingeniera de sistemas egresada de la Fundación Universitaria de Popayán</p>

                <div class="user">
                    <img src="./assets/img/open.png" alt="user" />
                    <div class="user-info">

                        <small>OPEN INTERNATIONAL</small>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="card border-warning mb-3" data-aos="fade-down">
            <div class="card-header fondo" >
                <br>
                <img class="borde-img" src="./assets/img/MarioLoaiza.jpg" alt="ballons" />
                <br>
                <br>
                <span class="tag tag-purple nombres">Scrum Master</span>
            </div>
            <div class="card-body items" >
                
                <h4>
                    Mario Loaiza Moreno
                </h4>
                <p>
                    Estudiante de ingenieria de sistemas en la universidad Santiago de cali
                </p>

                <div class="user">
                    <img src="./assets/img/open.png" alt="user" />
                    <div class="user-info">

                        <small>OPEN INTERNATIONAL</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-info mb-3" data-aos="fade-down">
            <div class="card-header fondo" >
                <br>
                <img class="borde-img" src="./assets/img/JuanDavidDaza.jpg" />
                <br>
                <br>
                <span class="tag tag-teal nombres">Lider Front</span>
            </div>
            <div class="card-body items" >
                <h4>
                    Juan D. Daza Leon
                </h4>
                <p> Estudiante de ingenieria de sistemas en la Universidad Libre Seccional Cali</p>
                <div class="user">
                    <img src="./assets/img/siesa.jpeg" alt="user" />
                    <div class="user-info">

                        <small>SIESA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card  border-success mb-3" data-aos="fade-down">
            <div class="card-header fondo" >
                <br>
                <img class="borde-img" src="./assets/img/JaimeCastro.jpg" alt="ballons" />
                <br><br>
                <span class="tag tag-pink nombres">Lider Back</span>
            </div>
            <div class="card-body items" >
                <h4>
                    Jaime A. Castro Ortiz
                </h4>
                <p> Estudiante de Ingeniería de sistemas en la Universidad cooperativa de Colombia </p>
                <div class="user">
                    <img src="./assets/img/siesa.jpeg" alt="user" />
                    <div class="user-info">

                        <small>SIESA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-info mb-3" data-aos="fade-down">
            <div class="card-header fondo" >
                <br>
                <img class="borde-img" src="./assets/img/manuelRestrepoRios.png" alt="ballons" />
                <br>
                <br>
                <span class="tag tag-teal nombres">Lider pruebas</span>
            </div>
            <div class="card-body items" >
                <h4>
                    Manuel Restrepo 
                </h4>
                <p> Ingeniero de sistemas y computacion Egresado de la Universidad del Quindio</p>

                <div class="user">
                    <img src="./assets/img/siesa.jpeg" alt="user" />
                    <div class="user-info">

                        <small>SIESA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-warning mb-3" data-aos="fade-down">
            <div class="card-header fondo" >
                <br>
                <img class="borde-img" src="./assets/img/CristhianAtehortua.jpg" alt="ballons" />
                <br><br>
                <span class="tag tag-purple nombres">Lider Técnico</span>
            </div>
            
            <div class="card-body items" >
                
                <h4>
                    Cristhian Atehortua
                </h4>
                <p> Estudiante de ingeniería en la Universidad Remington </p>
                <div class="user">
                    <img src="./assets/img/siesa.jpeg" alt="user" />
                    <div class="user-info">

                        <small>SIESA</small>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
</div>
<br>
<footer class="footer1  small text-center text-white-50">
<ul class="nav justify-content-center">
    <li class="nav-item">
        <div class="container text-dark px-4 px-lg-5">Copyright &copy; Página web desarrollada por el equipo Hellprograms <br>2021
        </div>
    </li>
</ul>
</footer>
