<app-headerdos></app-headerdos>
<!-- <div class="bgComponent">
  <div class="form">
    <mat-card class="card">
      <mat-card-title>Login user</mat-card-title>
      <mat-card-content>
        <div class="container">
          <mat-form-field>
            <input
              [(ngModel)]="loginData.email"
              type="email"
              matInput
              placeholder="Email"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              [(ngModel)]="loginData.password"
              type="password"
              matInput
              placeholder="Password"
              required
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="login()" class="button" mat-raised-button>Go!!</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
 -->
 <div class="backgroundIndex">
 <section class="registro padding">		
  <img src="../../../assets/img/logo.png" alt="" style="width:65%">
    <h1 class="TituloRegistro">Iniciar Sesión</h1>
    <div class="divRegistro">
      <div class="divEmail">
        <input type="text" name="email" placeholder="Correo electrónico"   [(ngModel)]="loginData.email"
        type="email"
        matInput
        required>
      </div>
      <div class="divContraseña">
        <input type="password" name="password" placeholder="Contraseña"  [(ngModel)]="loginData.password"
        type="password"
        matInput
        required>					
      </div>
    </div>
    <div class="LogEnPhot">
      <button (click)="login()" class="btn btn-default btn-lg" mat-raised-button>Iniciar</button>
    </div>
    
  

</section>	
</div>