 <app-headercuatro></app-headercuatro> 

 <div class="backgroundIndex">
 <content >

    <h1 class="title">{{panel.name}}<mat-icon>assignment</mat-icon></h1>
    <p class="description">{{panel.description}}</p>
    
 </content>
 <div>
    <h1 class="title">Roles del proyecto<mat-icon>accessibility</mat-icon></h1>
    <div class="row" style="justify-content:center;">
        <div class="carddos   mb-4" data-aos="fade-down">
            <mat-icon >add_circle_outline</mat-icon>Añadir Rol
            </div>
        <div class="card  border-success mb-4" data-aos="fade-down">
            Admin 
            </div>
            <div class="card  border-success mb-4" data-aos="fade-down">
            User
            </div>
            
            
 </div>
 <div>
    <h1 class="title">Integrantes<mat-icon>account_circle</mat-icon></h1>
    <div class="row" style="justify-content:center;">
        <div class="carddos   mb-4" data-aos="fade-down">
            <mat-icon>add_circle</mat-icon>Añadir participante
            </div>
        <div class="card  border-success mb-4" data-aos="fade-down">
            
            
            Daniela Apraez 
            </div>
            <div class="card  border-success mb-4" data-aos="fade-down">
            Juan David Daza
            </div>
            
            
 </div>
</div>