h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
  .priorityone {
    border: solid #f00 2px;
  }
  .prioritytwo {
    border: solid #fdf254 2px;
  }
  .prioritythree {
    border: solid #5de242 2px;
  }
  